{% extends "base.html" %}

{% block content %}
<h1>My Projects</h1>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if project.image_url %}
            <img src="{{ project.image_url }}" class="card-img-top" alt="{{ project.title }} image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                {% if project.github_url %}
                <a href="{{ project.github_url }}" class="btn btn-primary" target="_blank">GitHub</a>
                {% endif %}
                {% if project.live_url %}
                <a href="{{ project.live_url }}" class="btn btn-secondary" target="_blank">Live Demo</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
